@model TComputerShop.Models.ViewModels.HomeVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<h1 class="text-center">Daily Deals</h1>

<div class="row text-center">
    @foreach (var product in Model.Products)
    {
        <div class="containter">
            <div class="col-lg-12">
                <div class="card" style="width: 18rem;">
                        <img src="@product.ImageUrl" class="card-img-top border p-1">
                    <div class="card-body bg-primary">
                        <h5 class="card-title text-white"><a href="">@product.Name</a></h5>
                        <p class="card-text text-white">@product.Description</p>
                        <div class="row">
                            <div class="col-5 text-white">
                            $@product.Price
                            </div>
                            <div class="col-7 text-white">@product.Category.CategoryName</div>
                        </div>
                        <br />
                        <div class="row text-center">
                            <div class="col-12"><a asp-action="Add" asp-controller="Cart" asp-area="Customer" asp-route-id="@product.Id">Add To Shopping Cart</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>

        </div>
    }
    </div>
